<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Roominate, Roomour, RoomAPP, Roomba</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
      </head>
      <body>
      
      <div class="jumbotron text-center">
        <h1>Find a study space</h1>
        <p>Results may vary during global pandemics.</p> 
      </div>
        
      <h1>Thanks for using Roominate</h1>

      
      <p> Now displaying the rooms avalible on <%= values.weekday %> 
        between <%= values.start %> and <%= values.end %>.
      </p>
      <p>Note that the list covers ever SFU campus.</p>

      <%= data %>


</body>
</html>